@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";
@import "https://fonts.googleapis.com/css?family=Open+Sans&display=swap";
.contents .container {
    padding: 0 100px;
}

.post__header {
    text-align: center;
}

.post__title {
    font-family: "Roboto Slab";
    font-size: 3rem;
    color: #000000;
}

.line {
    width: 30%;
    height: 10px;
    border-bottom: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.post__content {
    line-height: normal;
    font-size: 1.1rem;
    font-family: "Open Sans";
    color: black;
    margin-bottom: 50px;
}

.highlight {
    font-size: 1em;
}

.darkmode {
    color: #f1f1f1;
    background-color: #1f1f1f;
}
