<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mashiro Blog Posts</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
    <link rel="stylesheet" href="/assets/css/default.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/post.css">
    <link rel="stylesheet" href="/assets/css/prism.css">
    {% if page.css %}
    <link rel="stylesheet" href="/assets/css/{{ page.css }}">{% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/jquery-ui.js"></script>
    <script src="/assets/js/raindrops.js"></script>

</head>

<body>

    {% include header.html %}
    <div class="toggle-darkmode">
        <a href="#" class="float">
            <i class="fas fa-moon my-float"></i>
        </a>
        <div class="label-container">
            <div class="label-text">Night mode</div>
        </div>
    </div>

    <div class="contents">
        <div class="container">
            <article class="post">

                <div class="post__header">
                    <h1 class="post__title">{{ page.title }}</h1>
                    <h5 class="post__date">Posted on {{ page.date | date_to_long_string }}</h5>
                </div>
                <div class="line"> </div>
                <div class="post__content">
                    {{ content }}
                </div>

            </article>
        </div>
    </div>
    {% include footer.html %}
    <script src="/assets/js/prism.js"></script>
    <script>
        let i = 1;
        $('.toggle-darkmode').on("click", () => {
            if (i) {
                $('.post__title').addClass('darkmode');
                $('.post__content').addClass('darkmode');
                $('body').addClass('darkmode');
                $('.line').addClass('darkmode');
                $('pre').addClass('darkcode');
                $('code').addClass('darkcode');
                $('.operator').addClass('darkcode');
                i ^= 1;
            } else {
                $('.post__title').removeClass('darkmode');
                $('.post__content').removeClass('darkmode');
                $('body').removeClass('darkmode');
                $('.line').removeClass('darkmode');
                $('pre').removeClass('darkcode');
                $('code').removeClass('darkcode');
                $('.operator').removeClass('darkcode');
                i ^= 1;
            }
        });
    </script>
</body>

</html>
