<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mashiro Blog Posts</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
    <link rel="stylesheet" href="/assets/css/default.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/post.css">
    <link rel="stylesheet" href="/assets/css/prism.css">
    {% if page.css %}
    <link rel="stylesheet" href="/assets/css/{{ page.css }}">{% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/jquery-ui.js"></script>
    <script src="/assets/js/raindrops.js"></script>

</head>

<body>

    {% include header.html %}
    <div class="contents">
        <div class="container">
            <article class="post">

                <div class="post__header">
                    <h1 class="title">{{ page.title }}</h1>
                    <h5 class="date">Posted on {{ page.date | date_to_long_string }}</h5>
                </div>
                <div class="line"> </div>
                <div class="post__content">
                    {{ content }}
                </div>

            </article>
        </div>
    </div>
    {% include footer.html %}
    <script src="/assets/js/prism.js"></script>
</body>

</html>
